* {
    box-sizing: border-box;
    overflow: visible;
}

body {
    /* 
        background-image: url(img/bg2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed; 
    
        This is the same as the line below - shortand code 
    */
        background: url(img/bg2.jpg) no-repeat center fixed;
}
#grid-wrap {
    width: 1000px;
    margin: 0px auto 0px auto;
    display: grid; /* display grade*/
    grid-template-columns: repeat(6, 1fr); /* Define o número de colunas do documento */
    grid-auto-columns: minmax(100px, auto); /* Define o ajuste automático mínimo e máximo do tamanho das colunas */
    grid-template-rows: 100px auto auto auto;
    grid-gap: 10px;
    padding: 10px 10px 0px 10px;
    background-color: #fefbca;
}

#grid-logo {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #ff6347;
    padding: 10px;
    text-align: center;
    
    /*  Position propertie
            position: sticky; (relativo ao scroll)
            fixed, absolute
            position: relative;
            top: 20px;
            right: 0px;
            bottom: 0px;
            left: 40px;
    */
}

#grid-nav {
    grid-column-start: 3;
    grid-column-end: 7;
    background-color: #1e90ff;
    display: inline;
}
nav {
    background-color: rgba(51, 51, 51, 1);
}
#grid-slide {
    grid-column-start: 1;
    grid-column-end: 7;
    padding: 10px;
 }
/* ====================================================================================================== */
#grid-texto-sasa {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 10px;
}

#grid-img-sasa {
    grid-column-start: 5;
    grid-column-end: 7;
    padding: 21px;
}
#sasai {
    width:100%; /* 100% de width WIDTH garante um scaling automático no layout responsivo :) */
    height: auto;
    border-radius: 14px;
    margin: auto;
    opacity: 0.5;
}

#sasai:hover {
    width:100%; /* 100% de width WIDTH garante um scaling automático no layout responsivo :) */
    height: auto;
    border-radius: 14px;
    margin: auto;
    opacity: 1.0;
}

figcaption {
    text-align: center;
}
/* ====================================================================================================== */
#grid-contato {
    grid-column-start: 1;
    grid-column-end: 7;
    padding: 10px;
}

#grid-footer {
    grid-column-start: 1;
    grid-column-end: 7;
    text-align: center;
    background-color: #1e3c5c;
    color: #ffffff;
    margin: 0px -11px -1px -11px;
    padding: 10px 0px 25px 0px;
}

div {
    border: 1px dashed rgba(255,0,0, 1);
    border-radius: 15px ;
}

nav ul li, a {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    color: #ffffff;
}

p {
    text-align: justify;
    text-indent: 50px;
}

#bdo-transparency {
    color: rgba(150, 150, 150, 0.5);
}

address, abbr {
    text-align: center;
}

nav {
	background-color: rgba(51, 51, 51, 1);
    font-family: verdana;
}

ul {
    border: 1px solid rgba(255, 0, 0, 1);;
    border-radius: 15px;
}

li, a {
	list-style-type: none;
	padding: 9px;
	color: rgba(255, 255, 255, 1);
    display: inline-block;
    text-decoration: none;
    margin: 0px -6px 0px 0px;
}

li:hover {
    background-color: rgb(251, 255, 0.5);
    color: rgba(0, 0, 0, 1);
}

li:active {
    background-color: rgba(255, 0, 0, 1.0);
}

li:visited {
    background-color: rgba(255, 0, 0, 1.0);
}
/*
.btn-nav-link {
     border: none;
     border-radius: 5px;
     background-color: #ff1800;
     cursor: pointer;
     padding: 5px;
     margin: 10px;
 }

.btn-nav-link:hover {
    background-color: rgba(40, 63, 85, 1);
    color: #ffffff;
}

.btn-nav-link:active {
    background-color: #000000;
    color: rgba(255, 255, 255, 1);
}

.btn-nav-link:visited {
    background-color: #1e3c5c;
    color: #0d7775;
}
*/
#h1-vw-size {
    font-size: 3vw;
    color: rgba(255, 0, 0, 1.0);
}

blockquote {
	background-color: rgba(240, 240, 240, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    border-left: 10px solid rgba(40, 63, 85, 1);
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
   
}

